/* GIVES THE ILLUSION OF DEPTH ON THE Z-AXIS */
.wrapper {
    perspective: 1000px;
    -webkit-prespective: 1000px;
    -moz-prespective: 1000px;
    -o-prespective: 1000px;
}

/* TELLS TEH CARD WHAT TO DO WHEN HOVERED OVER */
.wrapper:hover .flip-card, .wrapper.hover .flip-card {
    transform: rotateY(180deg);
}

/* FIXED HEIGHT AND WIDTH FOR EXAMPLE, CAN BE ADJUSTED ACCORDINGLY */
.wrapper, .front, .back {
    width: 350px;
    height: 500px;
}

/* CONTROLS THE SPEED AND STYLE OF THE CARD'S ANIMATION */
.flip-card {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* CONTROLS WHAT YOU SEE WHEN THE CARD IS FLIPPED */
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* PLACES THE FRONT CARD 'ON TOP' OF THE BACK CARD */
.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: aqua;
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    background-color: mediumpurple;
}













